@import "tailwindcss";

@font-face {
    font-family: 'Kaushan';
    src: url('../font/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoHo';
    src: url('../font/KoHo-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Karla';
    src: url('../font/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable font: soporta todos los pesos */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable font: soporta todos los pesos */
    font-style: italic;
    font-display: swap;
}

.font-kaushan {
    font-family: 'Kaushan', cursive;
}

.font-koho {
    font-family: 'KoHo', sans-serif;
}


.font-karla {
    font-family: 'Karla', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}