@import "tailwindcss";

@font-face {
    font-family: 'Kaushan';
    src: url('../font/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Koho';
    src: url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap') format('truetype');
    font-weight: normal;
}

.font-kaushan {
    font-family: 'Kaushan', cursive;
}


