---
import { Image } from 'astro:assets';
import headerlogo from "../assets/LogoColor.png"
const navItems= [
    {href: '#about', Label: 'Nosotros'},
    {href: '#maps', Label: 'Mapa'},
    {href: '#talleres', Label: 'Talleres'},
    {href: '#shop', Label: 'Compra tus Boletos'}
]
---

<header class="top-0 w-full" id="header" style="background-color: #F39300">
    <nav class="max-w-7xl mx-auto px-8 py-4">
        <div class="flex justify-between items-center">
            <div>
                <a href="/">
                    <Image src={headerlogo} width={300} height={100} alt="Logo Ritmo y Raíces" />
                </a>
            </div>
            <div class="flex gap-6 items-center">
                <a href="/Nosotros" class="text-white font-semibold hover:opacity-80">Nosotros</a>
                <a href="/Mapa" class="text-white font-semibold hover:opacity-80">Mapa</a>
                <a href="/Talleres" class="text-white font-semibold hover:opacity-80">Talleres</a>
                <a href="/Compra-de-boletos" class="text-white font-semibold hover:opacity-80">
                    <button type="button" class="bg-white text-orange-500 px-4 py-2 rounded font-semibold hover:bg-gray-200 transition">
                        Compra tus Boletos
                    </button>
                </a>
            </div>
        </div>
    </nav>
</header>
