---
// import background from '../assets/corpus-christi.jpg';
import backGroundWelcomeHome from '../assets/PANAMA-1.png';
---

<section
    class="relative min-h-screen flex items-center justify-center bg-cover bg-center bg-no-repeat"
    style={`background-image: url(${backGroundWelcomeHome.src});`}
>
    <!-- Overlay oscuro semi-transparente -->
    <div class="absolute inset-0 backdrop-blur-sm bg-white/10"></div>

    <!-- Contenido centrado -->
    <div class="relative z-10 text-center text-white px-4 max-w-6xl">
        <h3 class="text-xl md:text-5xl mb-2 font-koho">
            Bienvenidos al Centro Cultural de la Danza del Corpus Christi
        </h3>

        <h1 class="text-5xl md:text-7xl font-bold mb-8 font-kaushan"
            style="text-shadow: 2px 2px 4px red;">
            Ritmo y Raíces
        </h1>

        <p class="text-base md:text-3xl leading-relaxed font-karla">
            Un espacio dedicado a preservar, promover y celebrar una de las expresiones más
            emblemáticas del patrimonio cultural panameño. Nuestro centro busca mantener
            viva la tradición de las danzas del Corpus Christi, transmitiendo su historia,
            significado y belleza a las nuevas generaciones, a través del arte, la educación
            y la comunidad.
        </p>
    </div>
</section>


