---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
    <div class="flex justify-center pt-20">
        <iframe
                src="https://www.youtube.com/embed/GkP-QcnBkDk"
                width="1200"
                height="759"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
</div>

